
body{
    font-family: 'Mazzard Soft H';
    background-color: #fdf4ea;
    background-image: url("../../img/backgr.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-position: left right;
    padding: 0 3%;
}
a{
    text-decoration: none;
}
.container{
    background-color: #fff;
    padding:0 5%;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

@media(max-width:1400px){
    body{
        padding:0;
    }
}